.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #000;
  color: #ff0;
  flex-wrap: wrap;
  box-shadow: yellowgreen 0 0 10px 1px; /* Allow wrapping on smaller screens */
}

.about img {
  margin-right: 23px;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgb(253, 249, 249);
  max-width: 450px;
  height: auto;
  border-radius: 20px 20px;
  box-shadow: 0 4px 8px rgb(253, 249, 249);
  margin-bottom: 20px;
  margin-right: 90px;
}

.about-image img {
position: relative;
  width: 100% ;
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgb(253, 249, 249);
  z-index: 1;
  margin-bottom: 20px;

}

.about h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 4px 8px rgb(211, 231, 36);
}

.about p {
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about a {
  color: #ff0;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-text {
    text-align: center;
  }
}
